html {
  box-sizing: border-box;
  color: #333333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  background: #fafafa;
  padding: 48px;
  min-height: 100vh;
}

[data-theme='dark'].wrapper {
  background: #1a1a1a;
  color: #fff;
}

.workspace {
  max-width: 633px;
  margin: 48px auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.workspace-header {
  background-color: #eaf2fa;
  padding: 24px;
  margin: 16px auto;
  border-radius: 8px;
}

[data-theme='dark'].workspace-header {
  background-color: #2f455c;
}

.workspace-header-title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.block-item {
  background-color: #f1f1f1;
  padding: 8px;
  margin: 4px auto;
  border-radius: 4px;
}

[data-theme='dark'].block-item {
  background-color: #2c2c2c;
}

#block-menu {
  padding: 8px 4px;
  border-radius: 4px;
  width: 180px;
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.25);
  border: 1px solid #e3e3e3;
  position: absolute;
  left: 16;
  background-color: white;
}

.block-menu-item {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.block-menu-item:hover {
  background-color: #f6f6f6;
}
